
# Bloop
.bloop/
.bsp/

# Metals
.metals/
metals.sbt

# VS Code
.vscode/

# Project Specific
.idea/
target/
tmp/
.ds_store
Thumbs.db
first
test.log
all_tests.log
test_results.log
.scala-build/
.first/
.then/

# First Tool Context (Dogfooding)
.specify
.gemini
GEMINI.md
ROADMAP.md
SPEC-ROADMAP.md
usecases.md
